
footer {
    background-color: var(--primary);
    padding-top: 40px;
    padding-bottom: 40px;
}

.footerText {
    padding-right: 100px;
}

.footerText > p {
    color: #D0B2C1
}

.footerLink {
    color: #D0B2C1;
}

.footerLink:hover {
    color: white;
    text-decoration: none;
}

.logoTitle {
    margin-right: 10px;
    margin-bottom: 20px;
}

.logoTitle > img {
    height: 25px;
}

.logoTitle > h4 {
    color: white;
    margin-left: 10px;
}

.disclaimerText {
    margin-top: 30px;
    margin-bottom: 20px; 
    text-align: justify;
    text-justify: inter-word;
}

.footerMap {
    max-width: 100%;
}

.footerMap > iframe {
    border: 0;
    width: 100%;
}
