/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Footer */

footer {
    background-color: var(--bs-primary);
    padding-top: 40px;
    padding-bottom: 40px;
}

.footerText {
    padding-right: 100px;
}

.footerText > p {
    color: #D0B2C1
}

.logoTitle {
    margin-right: 10px;
    margin-bottom: 20px;
}

.logoTitle > img {
    height: 25px;
}

.logoTitle > h4 {
    color: white;
    margin-left: 10px;
}

.disclaimerText {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 20px; 
    text-align: justify;
    text-justify: inter-word;
}

.footerMap {
    max-width: 100%;
}

.footerMap > iframe {
    border: 0;
    width: 100%;
}
