@using VTMUNC.ViewModels
@model Committee

<section>
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-nowrap secretariatTitle">Info</h2>
        </div>
    </div>
</section>