.navbar {
    background-color: #630031;
}

.nav-link {
    color: white;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    margin-right: 15px;
}

button.navbar-toggler {
    background-color: var(--secondary-background);
}

.navbar-logo {
    height: 25px; 
    margin: 10px
}