@{
    ViewData["Title"] = "About Page";
}
<style>
    /* About Team Section */
    section.aboutTeam {
        height: calc(100vh - 61px);
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .teamTitle {
        text-align: center;
        margin-top: 110px;
        margin-bottom: 40px;
        padding-right: 160px;
    }
    
    .teamDescription {
        text-align: justify;
        text-justify: inter-word;
        padding: 40px;
        background-color: #F2F1E8;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        z-index: 0;
    }

    .teamDescriptionClm {
        z-index: 2;
    }

    .teamImageHighlight {
        background: #3A506B;
        box-shadow: -160px 0px 0px #3A506B,
                    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding-bottom: 40px;
        width: 100%;
        height: 90%;
    }

    .teamImgClm 
    {
        z-index: 1;
    }

    .columnMaroon {
        position: absolute;
        left: 72.36%;
        right: 23.5%;
        top: 61px;
        bottom: 0;
        background: #630031;
        height: 100vh;
        z-index: 1;
    }

    
    .teamBackground {
        position: absolute;
        width: 100%;
        left: 0;
        top: 61px;
        background: url("/Images/About1.jpg");
        height: calc(100vh - 61px);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
    }


    .secretariatInfo {        
        background: #F2F1E8;
        padding: 40px;
        margin-bottom: 40px;
    }

    .secretariatEmail {
        font-style: italic;
        font-family: "Playfair Display", sans-serif;
        font-size: 16px;
    }

    .secretariatImg {
        height: 300px;
        width: 100%;
        object-fit: cover;
        background-position: center;
        margin-bottom: 20px;
    }

    .secretariatInfo > p {
        text-align: justify;
        text-justify: inter-word;
        font-size: 13px;
    }

</style>

<section class="aboutTeam">

    <div class="columnMaroon"></div>
    <div class="teamBackground"></div>


    <div class="row">
        <div class="col-5 teamDescriptionClm">
            <div class="row">
                <h1 class="teamTitle">About Us</h1>
            </div>
            <div class="row teamDescription">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium vo At vero eos et
                    accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium vo. At vero eos et accusamus et
                    iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
                    et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                    deserunt mollitia animi, id est laborum et dolorum fuga. 
                </p>
            </div>
        </div>
        <div class="col-7 teamImgClm">
            <div class="teamImageHighlight">

            </div>
        </div>
    </div>


</section>


<section>

    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center justify-content-center">
                <h2 class="text-nowrap">Meet The Secretariat</h2>
            </div>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-4">
            <div class="secretariatInfo">
                <div>
                    <img class="secretariatImg" src="/Images/Secretariat_Headshots/nekhita.JPG" />
                </div>
                
                <h4>Nekhita Kassey</h4>                
                <h5>Director General</h5>
                <br />
                <p>
                    She is a senior majoring in International Studies and EIT Management with a minor in Spanish.
                    Nekhita has been with VTMUN for three years and attended 4 collegiate conferences. Additionally,
                    she serves as treasurer for Amnesty International, an undergrad teaching assistant for Pamplin,
                    and a member of Collegiate Women in Business. Outside of school, she loves cooking, playing music,
                    and spending time with friends! Nekhita is looking forward to welcoming everyone for the inaugural
                    conference at VT in February and making this the best experience possible for all!
                </p>
                <br />
                <h6 class="secretariatEmail">nekhitakassey@vt.edu</h6>
            </div>
        </div>
        <div class="col-md-4">
            <div class="secretariatInfo">
                <div class="text-center">
                    <img src="https://www.pngkey.com/png/full/204-2049354_ic-account-box-48px-profile-picture-icon-square.png" class="img-fluid mx-auto" style="max-height: 150px; margin: 10px; padding: 10px;" />
                </div>
                <h4 style="  font-family: Playfair Display">Co-Director of Technology</h4>
                <h4 style="  font-family: Playfair Display">Quinn Anderson</h4>
                <h5 style="  font-family: Playfair Display">Quinn is a Junior from Chicago, Illinois, a truly incredible city. He is a computer science major, and worked with Erland to create this website (Hello!). When not involved in VTMUN, he loves hamocking and biking around the beautiful Blacksburg area, playing volleyball and soccer, along with playing and competing with the bagpipes. He is involved with the College of Engineering Dean’s Team, along with Student Alumni Association (LETS GO, HOKIES!). He is excited to be part in bringing the first ever Model United Nations conference to Virgina Tech! </h5>

                <h6 style=" font-family: Playfair Display">quinnanderson@vt.edu</h6>
            </div>
        </div>
        <div class="col-md-4">
            <div class="secretariatInfo">
                <div class="text-center">
                    <img src="https://www.pngkey.com/png/full/204-2049354_ic-account-box-48px-profile-picture-icon-square.png" class="img-fluid mx-auto" style="max-height: 150px; margin: 10px; padding: 10px;" />
                </div>

                <h4 style="  font-family: Playfair Display">NAME LASTNAME</h4>
                <h5 style="  font-family: Playfair Display">Passionate cook and skilled programmer, merging the art of culinary creation with the precision of coding. I constantly seek to balance creativity and logic. As your co-DoT, I’ll be there to fix any tech related issue you have. Have an amazing conference guys <3!</h5>

                <h6 style=" font-family: Playfair Display">email</h6>
            </div>
        </div>
        
    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="secretariatInfo">
                <div class="text-center">
                    <img src="https://www.pngkey.com/png/full/204-2049354_ic-account-box-48px-profile-picture-icon-square.png" class="img-fluid mx-auto" style="max-height: 150px; margin: 10px; padding: 10px;" />
                </div>

                <h4 style="  font-family: Playfair Display">NAME LASTNAME</h4>
                <h5 style="  font-family: Playfair Display">Passionate cook and skilled programmer, merging the art of culinary creation with the precision of coding. I constantly seek to balance creativity and logic. As your co-DoT, I’ll be there to fix any tech related issue you have. Have an amazing conference guys <3!</h5>

                <h6 style=" font-family: Playfair Display">email</h6>
            </div>
        </div>
        <div class="col-md-4">
            <div class="secretariatInfo">
                <div class="text-center">
                    <img src="https://www.pngkey.com/png/full/204-2049354_ic-account-box-48px-profile-picture-icon-square.png" class="img-fluid mx-auto" style="max-height: 150px; margin: 10px; padding: 10px;" />
                </div>

                <h4 style="  font-family: Playfair Display">NAME LASTNAME</h4>
                <h5 style=" font-family: Playfair Display">Passionate cook and skilled programmer, merging the art of culinary creation with the precision of coding. I constantly seek to balance creativity and logic. As your co-DoT, I’ll be there to fix any tech related issue you have. Have an amazing conference guys <3!</h5>

                <h6 style="  font-family: Playfair Display">email</h6>
            </div>
        </div>
        <div class="col-md-4">
            <div class="secretariatInfo">
                <div class="text-center">
                    <img src="https://www.pngkey.com/png/full/204-2049354_ic-account-box-48px-profile-picture-icon-square.png" class="img-fluid mx-auto" style="max-height: 150px; margin: 10px; padding: 10px;" />
                </div>

                <h4 style="  font-family: Playfair Display">NAME LASTNAME</h4>
                <h5 style="  font-family: Playfair Display">Passionate cook and skilled programmer, merging the art of culinary creation with the precision of coding. I constantly seek to balance creativity and logic. As your co-DoT, I’ll be there to fix any tech related issue you have. Have an amazing conference guys <3!</h5>

                <h6 style="font-family: Playfair Display">email</h6>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="secretariatInfo">
                <div class="text-center">
                    <img src="https://www.pngkey.com/png/full/204-2049354_ic-account-box-48px-profile-picture-icon-square.png" class="img-fluid mx-auto" style="max-height: 150px; margin: 10px; padding: 10px;" />
                </div>

                <h4 style="  font-family: Playfair Display">NAME LASTNAME</h4>
                <h5 style="  font-family: Playfair Display">Passionate cook and skilled programmer, merging the art of culinary creation with the precision of coding. I constantly seek to balance creativity and logic. As your co-DoT, I’ll be there to fix any tech related issue you have. Have an amazing conference guys <3!</h5>

                <h6 style="  font-family: Playfair Display">email</h6>
            </div>
        </div>
        <div class="col-md-4">
            <div class="secretariatInfo">
                <div class="text-center">
                    <img src="https://www.pngkey.com/png/full/204-2049354_ic-account-box-48px-profile-picture-icon-square.png" class="img-fluid mx-auto" style="max-height: 150px; margin: 10px; padding: 10px;" />
                </div>

                <h4 style="  font-family: Playfair Display">NAME LASTNAME</h4>
                <h5 style="  font-family: Playfair Display">Passionate cook and skilled programmer, merging the art of culinary creation with the precision of coding. I constantly seek to balance creativity and logic. As your co-DoT, I’ll be there to fix any tech related issue you have. Have an amazing conference guys <3!</h5>

                <h6 style=" font-family: Playfair Display">email</h6>
            </div>
        </div>
        <div class="col-md-4">
            <div class="secretariatInfo">
                <div class="text-center">
                    <img src="https://www.pngkey.com/png/full/204-2049354_ic-account-box-48px-profile-picture-icon-square.png" class="img-fluid mx-auto" style="max-height: 150px; margin: 10px; padding: 10px;" />
                </div>

                <h4 style="  font-family: Playfair Display">NAME LASTNAME</h4>
                <h5 style=" font-family: Playfair Display">Passionate cook and skilled programmer, merging the art of culinary creation with the precision of coding. I constantly seek to balance creativity and logic. As your co-DoT, I’ll be there to fix any tech related issue you have. Have an amazing conference guys <3!</h5>

                <h6 style=" font-family: Playfair Display">email</h6>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12" style=" height: 300px">
            
        </div>
    </div>




</section>
