@using VTMUNC.ViewModels;
@{
    ViewData["Title"] = "About Page";
}

<style>
    /* About Team Section */
    section.aboutTeam {
        height: calc(100vh - 61px);
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .teamTitle {
        text-align: center;
        margin-top: 110px;
        margin-bottom: 40px;
        padding-right: 160px;
    }

    .teamDescription {
        text-align: justify;
        text-justify: inter-word;
        padding: 40px;
        background-color: #F2F1E8;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        z-index: 0;
    }

    .teamDescriptionClm {
        z-index: 2;
    }

    .teamImageHighlight {
        background: #3A506B;
        box-shadow: -160px 0px 0px #3A506B, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding-bottom: 40px;
        width: 100%;
        height: 90%;
    }

    .teamImgClm {
        z-index: 1;
    }

    .columnMaroon {
        position: absolute;
        left: 72.36%;
        right: 23.5%;
        top: 61px;
        background: #630031;
        height: calc(100vh - 61px);
        z-index: 1;
    }

    .teamBackground {
        position: absolute;
        width: 100%;
        left: 0;
        top: 61px;
        background: url("/Images/About1.jpg");
        height: calc(100vh - 61px);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
    }

    .secretariatTitle {
        position: relative;
        display: inline-block;
        padding-bottom: 10px;
    }

        .secretariatTitle::after {
            background-color: #DEBB8F;
            content: '';
            position: absolute;
            left: 0;
            bottom: 8px;
            height: 20px;
            width: 100%;
            transform: scaleX(1.1);
            z-index: -1;
        }

    .secretariatInfo {
        background: #F2F1E8;
        padding: 40px;
        margin-bottom: 40px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .secretariatCard {
        padding: 40px;
        margin-bottom: 40px;
        margin-right: 10px;
        margin-left: 10px;
        border: solid var(--primary);
        background: var(--primary-background);
        box-shadow: -8px 12px 0px 0px var(--tertiary);
    }

    .secretariatEmail {
        font-style: italic;
        font-family: "Playfair Display", sans-serif;
        font-size: 16px;
    }

    .secretariatImg {
        height: 300px;
        width: 100%;
        object-fit: cover;
        background-position: center;
        margin-bottom: 20px;
    }

    .secretariatCard > p {
        text-align: justify;
        text-justify: inter-word;
        font-size: 13px;
    }

</style>

<section class="aboutTeam">

    <div class="columnMaroon"></div>
    <div class="teamBackground"></div>


    <div class="row">
        <div class="col-5 teamDescriptionClm">
            <div class="row">
                <h1 class="teamTitle">About Us</h1>
            </div>
            <div class="row teamDescription">
                <p>
                    VT Model UN, initiated four years ago by recent high school graduates, embodies a steadfast commitment to
                    fostering an enriching and creative environment based on United Nations principles. Our thriving community
                    of young leaders champions inclusion, integrity, humility, and humanity, establishing a lasting tradition at
                    Virginia Tech. Embrace this opportunity with an open mind and a collaborative spirit, stepping into the roles
                    of diplomats, honing skills like public speaking, critical thinking, and teamwork. Effective diplomacy hinges
                    on understanding diverse perspectives and finding common ground. Whether you're a seasoned veteran or a
                    first-time participant, we invite you to wholeheartedly embrace this experience and expand your horizons.
                </p>
            </div>
        </div>
        <div class="col-7 teamImgClm">
            <div class="teamImageHighlight">
            </div>
        </div>
    </div>


</section>


<section>

    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-nowrap secretariatTitle">Secretariat</h2>
        </div>
    </div>

    <div class="row">
        @{
            List<Staff> secretariatList = new List<Staff>();



            secretariatList.Add(new Staff(
            "nekhita.JPG",
            "Nekhita Kassey",
            "Director General",
            @"Nekhita is a senior majoring in International Studies and EIT Management with a minor in Spanish, from Richmond. Additionally, she serves as treasurer for Amnesty International, is an undergrad teaching assistant for Pamplin, and she is a member of Collegiate Women in Business. Outside of school, she loves cooking, playing classical piano music, and going to local concerts! Nekhita is looking forward to welcoming everyone for the inaugural conference at Virginia Tech in February and making this the best experience possible for all!",
            "nekhitakassey@vt.edu"
            ));
      
            secretariatList.Add(new Staff(
            "aaryan.JPG",
            "Aaryan Menon",
            "Secretary General",
            @"Aaryan is a junior from Illinois and is studying Financial Technology & Big Data Analytics and Consulting Management Analytics. This will be Aaryan’s sixth year of MUN and he has previously served on the leadership of VTMUN. Outside of MUN, he is involved in TechFellows, Saving Hearts, and the Virginia Tech Transportation Institute. His favorite part of MUN has been meeting some of his closest friends. He is eager to finally provide an opportunity to High School students to see how far they can take their MUN skills and talents. ",
            "aaryanm@vt.edu"
            ));
            secretariatList.Add(new Staff(
            "prince.JPG",
            "Prince Wang",
            "Senior Advisor",
            @"Prince is a senior from Fairfax, Virginia,  and is majoring in Business Entrepreneurship and International Relations and with a minor in Chinese. He brings six years of Model UN Conference experience, along with serving as the president of VTMUN the past three years. He is also the President of the class of 2023, a part of Amnesty International, a Tedx Virginia Tech Speaker, and a member of the Chinese American Association. He is delighted to give back to the local community and provide an exciting experience for students at VTMUNC!",
            "princewang7777@vt.edu"
            ));

            secretariatList.Add(new Staff(
            "taylor.JPG",
            "Taylor White",
            "Director of Logistics",
            @"Taylor is a Junior from Richmond, Virginia. She is studying international relations and is a
        member of the Mu Alpha Chapter of Delta Sigma Theta Sorority. She has a whopping nine years of
        Model UN experience and has competed at ten conferences. Running a conference has been a dream of
        hers since 6th grade and she is thrilled to be part of the inaugural VT conference and meet energetic
        students who also share the same passion as hers. She loves MUN because of the ability to meet people
        both from VT and other delegations.",
            "wtaylor21@vt.edu"
            ));
            secretariatList.Add(new Staff(
            "juan.jpg",
            "Juan Camilo Bonilla",
            "Under Secretary General - Crisis",
            @"Juan is a freshman from Barranquilla, Columbia, and is studying Communications. Over his MUN highschool career has attended 45 conferences, has chaired seven times, and was the Secretary General of MUNUN. His favorite part of MUN is traveling around and making friends! Outside of MUN, Juan is involved in the Mozaiko LLC, Collegiate Times, and the International Relations Organization. His fun fact is he can recite every single soccer World Cup Champion. He is excited for VTMUNC to share the marvelous passion of Model UN!",
            "eresjcbsmun1210@vt.edu"
            ));
            secretariatList.Add(new Staff(
            "madeline.jpg",
            "Madeline Pedersen",
            "Under Secretary General - Specialized",
            @"Madeline Pedersen is a senior in Political Science with a minor in Philosophy from Franklin County, Virginia. They have spent four years in collegiate MUN and have won four awards! Their favorite part of MUN is some of their best friends they have met and traveling around to different colleges. Outside of MUN, they have an absurdly large board game collection, and are a huge fan of game nights. They are also secretary of the Firewatch at VT. Madeline is excited to introduce difficult and complex topics to high schoolers and give them a platform to express themselves.",
            "pedersenmk@vt.edu"
            ));
            secretariatList.Add(new Staff(
            "shriyia.png",
            "Shriya Chemudupati",
            "Under Secretary General - General Assembly",
            @"Shriya Chemudupati is a Junior majoring in Cognitive and Behavioral Science from Richmond. She has been involved in Model UN since middle school, and even served as a chair USG-GA in high school. She is super excited to see the committees we've created as VTMUNC come to life during the conference, and loves giving the opportunity for delegates to adapt to whatever is being thrown your way as a delegate and the relationships you build along the way. She is also involved in Mock Trial, and the Phi Alpha Delta sorority at VT. ",
            "shriyac822@vt.edu"
            ));
            secretariatList.Add(new Staff(
            "katrina.jpg",
            "Karina Gonzalez",
            "Under Director General - Charity and Merch",
            @"Karina is a junior from San Juan Texas, and she is majoring in Political Science and Economics, from Texas. Outside of MUN, Karina spends her time working with the Blacksburg Refugee Partnership as a volunteer (our VTMUNC philanthropy!), and as a member of the Defense Civilian Training Corp scholarship program. She loves MUN for getting to have real conversations about current events with people she is lucky enough to call friends, and Karina is eager for the philanthropy events that VTMUNC is hosting throughout the year! ",
            "karinag@vt.edu"
            ));
            secretariatList.Add(new Staff(
            "delaney.jpeg",
            "Delaney Moran",
            "Charge D'Affaires",
            @"Delaney is a junior from Hershey, Pennsylvania and is studying Philosophy, Politics, & Economics and International Trade & Development. She recently started Model UN  as a freshman in college, but she has been drawn to it because of the community of people that have many different backgrounds and perspectives on the world. She loves that these people all have a common interest to make the world a better place. She is super excited to help host VTMUNC's first conference!",
            "chargedaffaires@vtmunc.org"
            ));
            secretariatList.Add(new Staff(
            "alyssa.jpg",
            "Alyssa Bohnstengel",
            "Under-Director General - Finance",
            @"Alyssa is a senior majoring in Political Science from Dallas, Texas. Along with her role as treasurer of the secretariat, she is the current president of VTMUN and is a member of the sorority Kappa Kappa Gamma. Alyssa loves MUN as she has met her best friends through VTMUN & met some of her closest friends going to other conferences! She is excited to provide opportunities for VTMUNC delegates to make core memories. MUN conferences were her favorite part of high school and she hopes to have a part in someone else feeling the same way. ",
            "alyssab19@vt.edu"
            ));

            secretariatList.Add(new Staff(
            "nina.jpg",
            "Nina Ruback",
            "Under Director General - Marketing",
            @"Nina is a junior from Newburgh, New York. She is studying to be an Industrial and Systems Engineer. She serves as mentor for the Galipata program and the Center for the Enhancement of Engineering Diversity. She also is a part of the Amnesty International chapter at Virginia Tech. Nina loves Model UN due to the creativity you can have in the solutions to large-scale and real world problems along with the people you meet from all over the country. She is tremendously excited for Virginia Tech’s first ever iteration of VTMUNC!",
            "nina21@vt.edu"
            ));
            secretariatList.Add(new Staff(
            "erland.jpg",
            "Erland Syafiq",
            "Co-Director of Technology",
            @"Passionate cook and skilled programmer, merging the art of culinary creation with the precision of coding. Exploring the delicious world of flavors and textures in the kitchen, while also crafting elegant and functional software solutions. Constantly seeking the perfect balance between creativity and logic, I find inspiration in both the culinary and coding realms. Let's blend the flavors of innovation and taste to create delightful experiences for users and diners alike. 🎨🍽️ Open to exciting opportunities where I can utilize my expertise in both the culinary and coding spheres. Connect with me to explore the intersection of gastronomy and technology!",
            "erland@vt.edu"
            ));
            secretariatList.Add(new Staff(
            "quinn.jpeg",
            "Quinn Anderson",
            "Co-Director of Technology",
            @"Quinn is a Junior from Chicago, Illinois. He is a computer science major, and worked with Erland to create this very website (Hello!). When not involved in VTMUN, he loves hammocking and biking around the beautiful Blacksburg area, playing volleyball and soccer, along with playing and competing with the bagpipes. He is involved with the College of Engineering Dean’s Team, along with Student Alumni Association. He is extremely excited to take part in bringing the first ever Model United Nations conference to Virginia Tech! ",
            "quinnanderson@vt.edu"
            ));

        }
        @foreach (var person in secretariatList)
        {
            <div class="col-md-4">
                <div class="secretariatCard">
                    <div>
                        <img class="secretariatImg" src="/Images/Secretariat_Headshots/@person.ImagePath" />
                    </div>

                    <h4>@person.Name</h4>
                    <h5>@person.Position</h5>
                    <br>
                    <p>
                        @person.Bio
                    </p>
                    <h6 class="secretariatEmail">@person.Email</h6>
                </div>
            </div>
        }
    </div>
</section>

