@{
    ViewData["Title"] = "Home Page";
}
<style>
    .navbar {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .heroBackground {
        position: absolute;
        top: 0px;
        left: 0px;
        background-repeat: no-repeat;
        background-image: url(../Images/Home1.jpg);
        background-size: cover;
        height: 100vh;
        width: 100%;
        z-index: -1;
    }

    section.hero {
        width: 100%;
        height: calc(100vh - 93px);
        display: flex;
        align-items: center;
    }

    .heroContent {
        color: white;
        transform: translate(-5px, 0px);
    }

    .heroContent > h1 {
        margin-bottom: 40px;
    }

    .heroBtn{
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
        justify-content: center;
        padding: 10px;
        margin-top: 40px;
    }

    .heroBtn > h4 {
        margin-bottom: 0px;
    }

    .heroHighlightBox {
        width: 19px;
        height: 410px;
        background-color: rgba(58, 80, 107, 32%);
    }


</style>



<section class="hero">
    <div class="heroHighlightBox"></div>
    <div class="heroContent">
        <h3>
            Feb 2nd - Feb 4th
        </h3>
        <h1>
            VTMUNC 2024
        </h1>
        <h4>
            The premier Model United Nations conference for high school students
        </h4>
        <a class="btn btn-primary btn-lg heroBtn" asp-area="" asp-controller="Applicants" asp-action="Create">
            <h4>
                Register Here
            </h4>
        </a>
    </div>
    <div class="heroBackground"></div>
</section>
<section class="letter" style= "margin-top: 75px">
    <section style="margin-bottom: 50px">
        <h3>A Letter from the Secretariat</h3>
    </section>    
    <div class = "row">
        <div class= "col-md-8">
            <p>
                Dear Delegates, Sponsors, Faculty, and Friends,
            </p>
            <p>
                On behalf of the VTMUNC I Secretariat, it is our pleasure to invite you all for the inaugural iteration of the Virginia Tech Model United Nations Conference. Established 4 years ago by VT students who strived to create an enriching and creative environment for students to engage in diplomatic dialogue through the core principles of the United Nations, VT Model UN has grown into a powerhouse full of young leaders empowered by inclusion, integrity, humility and humanity. We are humbled and honored to share this by setting precedence for what will be a tradition for years to come at Virginia Tech.
            </p>
            <p>
                We strive to make this experience unforgettable by meticulously crafting a series of unique and thought provoking committees designed to challenge and inspire delegates to come up with solutions that require collaboration and communication from all diverse backgrounds. Our conference theme, “As We Bloom” reflects our central goal of mutual empowerment, wherein everyone who participates in this conference will be able to grow and discover more about themselves. Whether you are a seasoned veteran or first time participant, we hope that each and every one of you will embrace this experience wholeheartedly and seize the chance to broaden your horizons.
            </p>
            <p>
                As we embark on this journey together, we would like to express our gratitude to our sponsors, faculty, staffers, volunteers, and members of the Virginia Tech community for their unwavering support, and countless hours of hard work and dedication which has made this conference possible. Your dedication to fostering global awareness and promoting diplomacy among young minds is commendable, and we cannot have done this without you.
            </p>
            <p>
                Our wonderful Secretariat has been working tirelessly to create a conference that is memorable and unique to you and the culture of Virginia Tech. Everyone on this team has brought experiences from diverse backgrounds that contributed to making this conference exceptional and leadership that has set the foundation for a long lasting legacy for VT Model UN.
            </p>
            <p>
                We cannot wait to welcome you all to VTMUNC I in Blacksburg, Virginia. May this be the beginning of a lifelong journey of learning, growth, and making a positive difference in the world.
            </p>
            <p>
                Warm Regards,
            </p>  
            <p>Aaryan S. Menon, Nekhita Kassey, Prince Wang</p>  
            <p>Secretary General, Director General, Senior Advisor</p>
            <p>VTMUNC I</p>

        </div>
        <div class= "col-md-4">
            <div class=" row">
                <img src="/Images/Advisors.JPG"  />
            </div>           

        </div>
    </div>
    
</section>
