@{
    ViewData["Title"] = "Home Page";
}
<style>
    .navbar {
        background-color: transparent !important;
    }

    .heroBackground {
        position: fixed;
        top: 0px;
        left: 0px;
        background-repeat: no-repeat;
        background-image: url(../Images/Home1.jpg);
        background-size: cover;
        height: 100vh;
        width: 100%;
        z-index: -1;
    }

    section.hero {
        width: 100%;        
        display: flex;
        align-items: center;  
        margin-bottom:223px;
    }

    .heroContent {
        color: white;
        transform: translate(-5px, 0px);
    }

    .heroBtn {
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
        justify-content: center;
        padding: 10px;
    }

    .heroBtn > h4 {
        margin-bottom: 0px;
    }

    .heroHighlightBox {
        width: 19px;
        height: 40vh;
        background-color: rgba(58, 80, 107, 32%);
    }
    


</style>



<section class="hero">
    <div class="heroHighlightBox" ></div>
    <div class="heroContent">
        <h3>
            Feb 2nd - Feb 4th
        </h3>
        <h1>
            VTMUNC 2024
        </h1>
        <h4>
            The premier Model United Nation conference for high school students
        </h4>
        <a class="heroBtn btn-primary" asp-area="Identity" asp-page="/Account/Register"><h4>Register Here</h4></a>
    </div>
    <div class="heroBackground"></div>
    
</section>
