@{
    ViewData["Title"] = "Home Page";
}
<style>
    .navbar {
        background-color: transparent !important;
    }


    .heroBackground {
        position: absolute;
        top: 0px;
        left: 0px;
        background-repeat: no-repeat;
        background-image: url(../Images/Home1.jpg);
        background-size: cover;
        height: 100vh;
        width: 100%;
        z-index: -1;
    }

    section.hero {
        width: 100%;
        height: calc(100vh - 93px);
        display: flex;
        align-items: center;
    }

    .heroContent {
        color: white;
    }

    .heroBtn {
        background-color: #630031;
        display: inline-block;
        margin-top: 10px;
        justify-content: center;
    }

    

</style>




<section class="hero container">
    <div class="heroContent">
        <h3>
            Feb 2nd - Feb 4th
        </h3>
        <h1>
            VTMUNC 2024
        </h1>
        <h4>
            The premier Model United Nation conference for high school students
        </h4>
        <div class="heroBtn text-center">
            <h4><a class="nav-link d-flex justify-content-center" asp-area="Identity" asp-page="/Account/Register">Register Here</a></h4>
        </div>
        <div class="heroBackground"></div>
    </div>
</section>
