@{
    ViewData["Title"] = "Speakers";
}
<style>
    .navbar {
        background-color: black !important;
        box-shadow: none !important;
    }

    .speakerTitle {
        position: relative;
        display: inline-block;
        padding-bottom: 10px;
        color: #FFFFFF;
        margin-bottom: 30px; 
    }

    .speakerHead {
        
        color: #FFFFFF;
    }


    body {
        background-color: #230B06;
    }

    h3 {
        color: #FFFFFF;
    }

    h5 {
        color: #FFFFFF;
    }

    p {
        color: #FFFFFF;
    }


    .speakerCard {
        padding: 20px;
        margin-bottom: 40px;
        margin-right: 10px;
        margin-left: 10px;
        border: 1px solid #FFFFFF;
        background: #290014;
    }

    .speakerImg {
        height: 125px;
        width: 100%;
        object-fit: cover;
        background-position: center;
        margin-bottom: 20px;
    }

    .columnBorder {
        position: absolute;
        left: 10%;
        right: 85%;
        top: 130px;
        border: 1px solid #FFFFFF;
        
        height: calc(100vh - 130px);
        z-index: 1;
    }

    



</style>

<section>    
    <div class="speaker" >

        <div class="row text-center">
            <h2 class="speakerTitle" >Guest Speakers</h2>
        </div>

        <div class="row justify-content-evenly" style="margin-bottom: 40px">

            <div class="col-md-1" style="background: #290014;  border: 1px solid #FFFFFF;"></div>


            <div class="col-md-6 speakerCard">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <h3 class="speakerHead">Christina Bruff</h3>
                        </div>
                        <div class="row" style="margin-bottom: 30px">
                            <h5>Deputy Director</h5>
                        </div>

                        <div class="row" style="margin-bottom:30px">
                            <h5>Office of Multilateral Strategy and Personnel within the Bureau of International Organizations</h5>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div>
                            <img class="speakerImg" src="/Images/Speakers/christina.png" />
                        </div>

                    </div>
                </div>


                <div class="row">
                    <p>
                        Christina Bruff is the Deputy Director of the Office of Multilateral Strategy and Personnel within the Bureau of International Organizations. Prior to joining the State Department, she went to graduate school for International Relations at Princeton and served in the Peace Corps. Within the Department, she has served a multitude of roles, including but not limited to the Development Counselor for the U.S. Mission to the Organization of American States (US/OAS), Acting Deputy Chief of Mission for US/OAS, and a Senior Economic Advisor for the Bureau of International Organizations. She also worked alongside Ambassador Linda Thomas-Greenfield during her time working for the Bureau of African Affairs as an Economic Development and Multilateral Affairs Officer. Christina is passionate about diplomacy, and is excited to speak with students about her experiences!
                    </p>

                </div>


            </div>
            <div class="col-md-1"></div>
        </div>


            <div class="row justify-content-evenly">

                <div class="col-md-1"></div>

                <div class="col-md-6 speakerCard">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <h3 class="speakerHead">Laura Zanotti</h3>
                            </div>
                            <div class="row" style="margin-bottom: 30px">
                                <h5>Professor</h5>
                            </div>

                            <div class="row" style="margin-bottom:30px">
                            <h5> Political Science Department at Virginia Tech</h5>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div>
                                <img class="speakerImg" src="/Images/Speakers/laura.png" />
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <p>
                            Laura Zanotti is a Professor of Political Science at Virginia Tech. Her research and teaching include critical political theory as well as international organizations, UN peacekeeping, democratization and the role of NGOs in post-conflict governance. Professor Zanotti’s most recent book, entitled Ontological Entanglements, Agency and Ethics in International
                            Relations - Exploring the Crossroads (Routledge Interventions, 2019) addresses the implications of embracing quantum physics’ entangled ontology for International Relations
                            conceptualizations of agency and ethics. The book argues that an entangled ontological imaginary opens the way for re- imagining how as humans we inhabit the world. It nurtures an ethos of responsibility and it raises the bar for adjudicating the ethical validity of political initiatives beyond abstract principles.


                        </p>
                        <p>
                        Since 2013, Zanotti has been serving on the Board of Directors of the University of Fondwa, USA, Inc. Prior to joining Virginia Tech, Zanotti was a Jean Monnet Fellow at the European University. Institute in San Domenico di Fiesole, Italy and a Visiting Professor at the School of International Relations, Trento University, Italy. Before becoming an academic, Zanotti worked at the United Nations, both in administration and as a political officer for Peacekeeping Operations. She spent several years in the field, in Haiti and in Croatia, where she performed the functions of the Deputy to the Head of the United Nations Liaison Office in Zagreb.

                        </p>

                    </div>




                </div>


                <div class="col-md-1" >
                <div class="row" style="height: 100px">

                </div>
                <div class="row" style="background: #290014;  border: 1px solid #FFFFFF; height: 81%">

                    </div>
                </div>

            </div>
            

            

        
        

    </div>
    
</section>
