.committeesTitle {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 30px;
}

.committeesTitle::after {
    /* background-color: #DEBB8F;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 100%;
    width: 140px;
    transform: translate(-10%, 5%);
    z-index: -1; */
}

.committee-name { 
    margin-bottom: 15px;
}
