.vtmuncTitle {
    margin-top: 30px;
    margin-bottom: 50px;
    color: #630031;
}

.whyImg {
    height: auto;
    width: 100%;
    margin: 20px;
    position: relative;
}

.whyParagraph {
    margin: 20px;
}