@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Speakers";
}

<style>    

    .sponsorsTitle {
        position: relative;
        display: inline-block;
        padding-bottom: 10px;
        color: #3A506B;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    body {
        background-color: #FFFFFF;
    }

    .sponsorsImg1 {
        
        width: 50%;
        object-fit: cover;
        
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
        
    }

    .sponsorsImg2 {
        
        width: 100%;
        object-fit: cover;
        
        margin-bottom: 75px;
        justify-content: center;
        align-items: center;
    }

    .sponsorsImg3 {
        width: 80%;
        object-fit: cover;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
    }

</style>


<section>

    <div class="sponsors">

        <div class="row text-center">
            <h2 class="sponsorsTitle">Sponsors</h2>

            <h4 style="color: #3A506B; margin-bottom:20px">VTMUNC would not be possible without the generous support from our sponsors. If you or your organization is interested in a partnership, please reach out to vtmunconference@gmail.com</h4>

            <hr style="color: #3A506B" />

            <h2 class="sponsorsTitle" style="margin-bottom: 50px">Thanks To Our Sponsors!</h2>

            <div class ="col-12">

                <div class ="row" style="justify-content: center">
                    <img class="sponsorsImg1" src="/Images/Sponsors/management.jpg" />
                </div>
                
                <div class="row">
                    <img class="sponsorsImg2" src="/Images/Sponsors/ppe.png" />
                </div>

                <h3 style="color: #630031; font-family; font-family: 'Archerus Grotesque', Helvetica;">Center for Peace Studies and Violence Prevention</h3>
                <div class="row" style="justify-content: center">
                    <img class="sponsorsImg3" src="/Images/Sponsors/center.jpg" />
                </div>


            </div>

            


        </div>
            
    </div>

</section>