html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

:root {
    --bs-primary-rgb: 99, 0, 49;
    --bs-primary: rgb(var(--bs-primary-rgb));
}

h1 {
    font-family: "Playfair Display", sans-serif;
    font-size: 60px;
}

h2 {
    font-family: "Playfair Display", sans-serif;
    font-size: 48px;
}

h3 {
    font-family: "Playfair Display", sans-serif;
    font-size: 36px;
}

h4 {
    font-family: "Playfair Display", sans-serif;
    font-size: 24px;
}

h5 {
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
}

p {
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    margin: 0px;
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover {
    background-color: rgb(135, 0, 67);
    border-color: rgb(135, 0, 67);
}
