@using VTMUNC.ViewModels;
@model CommitteesList
@{
    ViewData["Title"] = "Committees";
}

<style>

    .committeesTitle {
        position: relative;
        display: inline-block;
        padding-bottom: 10px;
    }

        .committeesTitle::after {
            background-color: #DEBB8F;
            content: '';
            position: absolute;
            left: 0;
            bottom: 8px;
            height: 20px;
            width: 100%;
            transform: scaleX(1.1);
            z-index: -1;
        }

    .committeesCard {
        padding: 40px;
        margin-bottom: 40px;
        margin-right: 10px;
        margin-left: 10px;
        border: solid var(--primary);
        background: var(--primary-background);
        box-shadow: -8px 12px 0px 0px var(--tertiary);
    }

    .committeesEmail {
        font-style: italic;
        font-family: "Playfair Display", sans-serif;
        font-size: 16px;
    }

    .committeesContainer {
        height: 300px;
        width: 100%;
        overflow: hidden; 
        display: block;
        height: 100%
    }

    .committeesImg {
        height: 400px;       
        width:100%;
        object-fit: cover;
        transition: transform 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .committeesImg:hover {
        transform: scale(1.1);
    }

    .committeesCard > p {
        text-align: justify;
        text-justify: inter-word;
        font-size: 13px;
    }

</style>


<section>

    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-nowrap committeesTitle">Committees</h2>
        </div>
    </div>


    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="row">
            <div class="col-12 text-center" style="padding: 30px">
                <h3 class="text-nowrap">@Model.GetCommitteeCategory(i)</h3>
            </div>
        </div>
        <div class="row d-flex justify-content-evenly h-100">
            @foreach (Committee committee in Model.GetCommitteeGroup(i))
            {
                <div class="col-md-6">
                    <div class="committeesCard">
                        <h4 style="display: flex; justify-content: center; align-items: center; margin-bottom: 30px">
                            @committee.Name
                        </h4>

                        <a href="Committees/@committee.UrlName" class="committeesContainer">
                            <img class="committeesImg" src="/Images/Committees/@committee.ImagePath" />
                        </a>

                    </div>
                </div>


            }
        </div>
    }
</section>
