.committeesCard {
    padding: 40px;
    margin-bottom: 40px;
    margin-right: 10px;
    margin-left: 10px;
    border: solid var(--primary);
    background: var(--primary-background);
    box-shadow: -8px 12px 0px 0px var(--tertiary);
}

.committeesEmail {
    font-style: italic;
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
}

.committeesContainer {
    height: 300px;
    width: 100%;
    overflow: hidden; 
    display: block;
    height: 400px
}

.committeesImg {
    height: 400px;       
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.committeesImg:hover {
    transform: scale(1.1);
}

.committeesCard > p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 13px;
}

.committeeLabel {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 30px;
}